-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: 192.241.161.227    Database: pathbank
-- ------------------------------------------------------
-- Server version	5.5.56-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `species`
--
-- WHERE:  1 LIMIT 20

LOCK TABLES `species` WRITE;
/*!40000 ALTER TABLE `species` DISABLE KEYS */;
/*!40000 ALTER TABLE `species` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `compounds`
--
-- WHERE:  1 LIMIT 20

LOCK TABLES `compounds` WRITE;
/*!40000 ALTER TABLE `compounds` DISABLE KEYS */;
/*!40000 ALTER TABLE `compounds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `proteins`
--
-- WHERE:  1 LIMIT 20

LOCK TABLES `proteins` WRITE;
/*!40000 ALTER TABLE `proteins` DISABLE KEYS */;
/*!40000 ALTER TABLE `proteins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `protein_mappings`
--
-- WHERE:  1 LIMIT 20

LOCK TABLES `protein_mappings` WRITE;
/*!40000 ALTER TABLE `protein_mappings` DISABLE KEYS */;
/*!40000 ALTER TABLE `protein_mappings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `biological_states`
--
-- WHERE:  1 LIMIT 20

LOCK TABLES `biological_states` WRITE;
/*!40000 ALTER TABLE `biological_states` DISABLE KEYS */;
/*!40000 ALTER TABLE `biological_states` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `reactions`
--
-- WHERE:  1 LIMIT 20

LOCK TABLES `reactions` WRITE;
/*!40000 ALTER TABLE `reactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `reactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `reaction_elements`
--
-- WHERE:  1 LIMIT 20

LOCK TABLES `reaction_elements` WRITE;
/*!40000 ALTER TABLE `reaction_elements` DISABLE KEYS */;
/*!40000 ALTER TABLE `reaction_elements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `reaction_enzymes`
--
-- WHERE:  1 LIMIT 20

LOCK TABLES `reaction_enzymes` WRITE;
/*!40000 ALTER TABLE `reaction_enzymes` DISABLE KEYS */;
INSERT INTO `reaction_enzymes` VALUES (2,2,2,'2.6.1.2'),(3,3,3,NULL),(4,4,5,'6.4.1.1'),(5,1,4,'6.1.1.7'),(6,5,6,NULL),(8,7,7,'4.1.1.15'),(9,8,8,'3.5.1.15'),(10,9,9,'6.3.5.4'),(11,10,10,'6.1.1.22'),(12,11,11,'6.3.4.5'),(13,12,12,'6.1.1.12'),(14,13,13,'6.3.4.4'),(15,14,14,NULL),(16,15,15,'1.4.3.2'),(17,16,16,'4.3.2.2'),(18,17,17,'4.3.2.1'),(19,18,18,'1.4.3.1'),(20,19,19,'3.1.6.2'),(22,21,21,NULL),(24,24,21,NULL);
/*!40000 ALTER TABLE `reaction_enzymes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `subcellular_locations`
--
-- WHERE:  1 LIMIT 20

LOCK TABLES `subcellular_locations` WRITE;
/*!40000 ALTER TABLE `subcellular_locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `subcellular_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `contexts`
--
-- WHERE:  1 LIMIT 20

LOCK TABLES `contexts` WRITE;
/*!40000 ALTER TABLE `contexts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contexts` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-28 23:01:28
